@import url('https://fonts.googleapis.com/css?family=Roboto');

*,html{
  margin: 0;
  padding: 0;
}
body{
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}
nav{
    list-style: none;
    display: -webkit-flex;
    display: flex;
    max-width: 100%;
    overflow: auto;
    background: #efefef;
    height: 70px;
}
nav a{
    display: block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
nav a img{
    display: block;
    border-radius: 50%;
}
nav a.selected{
    margin: 4px;
}
nav a.selected img{
    border: 1px solid black;
}
nav a figure figcaption {
    text-align: center;
    margin-top: -11px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 1px;
    position: relative;
    font-size: 13px;
}
