@import url('https://fonts.googleapis.com/css?family=Roboto');

*,html{
  margin: 0;
  padding: 0;
}
body{
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}
#overlay {
    /* AANDACHT */
    /* !!!!!!!!!!!!!!!! */ display: none; /* VERWIJDEREN, TIJDELIJK!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
    /* AAAAAAAAAAAAAAAAAAAAAAA */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
#overlay img {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}
#overlay button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: black;
}
nav{
    list-style: none;
    display: -webkit-flex;
    display: flex;
    max-width: 100%;
    overflow: auto;
    background: #efefef;
    height: 70px;
}
nav a{
    display: block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
nav a img{
    display: block;
    border-radius: 50%;
}
nav a.selected{
    margin: 4px;
}
nav a.selected img{
    border: 1px solid black;
}
nav a figure figcaption {
    text-align: center;
    margin-top: -11px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 1px;
    position: relative;
    font-size: 13px;
}
button{
    border-radius: 1px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px 7px;
    color: gray;
    margin: auto;
    font-size: 1em;
    cursor: pointer;
}
button#blue {
    border: 1px solid blue;
    color: blue;
}
button#red {
    border: 1px solid red;
    color: red;
}
button.purple {
    border: 1px solid #b23ce9;
    background-color: #b23ce9;
}
.heart{
    display: block;
    position: relative;
}
.heart img {
    display: block;
    position: absolute;
    top: 10px;
}
.heart figcaption{
    font-size: 1.3em;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 17px;
}