@import url('https://fonts.googleapis.com/css?family=Roboto');

*,html{
  margin: 0;
  padding: 0;
}
body{
  background: #efefef;
  font-family: 'Roboto', sans-serif;
}
nav{
    list-style: none;
    display: -webkit-flex;
    display: flex;
    max-width: 100%;
    overflow: auto;
    background: #efefef;
    height: 70px;
}
nav a{
    display: block;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
nav a img{
    display: block;
    border-radius: 50%;
}
nav a.selected{
    margin: 4px;
}
nav a.selected img{
    border: 1px solid black;
}
nav a figure figcaption {
    text-align: center;
    margin-top: -11px;
    background-color: #000000;
    color: #FFFFFF;
    border-radius: 1px;
    position: relative;
    font-size: 13px;
}
button{
    border-radius: 1px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 4px 7px;
    color: gray;
    margin: auto;
    font-size: 1em;
    cursor: pointer;
}
button#blue {
    border: 1px solid blue;
    color: blue;
}
button#red {
    border: 1px solid red;
    color: red;
}

.heart img {
    clear: left;
    margin-bottom: 1px;
    margin-right: 10px;
    position: absolute;
    top: 10px;
}

.heart figcaption {
    /*z-index: 100%;*/
    font-size: 20px;
    font-weight: bold;
    display: block;
    float: left;
    position: relative;
    top: 20px;
    left: 17px;
}